.left-side
  .left-side__top-bar
    .left-side__top-bar__user-name= current_user.name
    =link_to new_group_path, class: "left-side__top-bar__create-group" do
      =fa_icon "edit"
    =link_to edit_user_path(current_user), class: "left-side__top-bar__user-setting" do
      =fa_icon "cog"
  .left-side__bottom-bar
    - current_user.groups.each do |group|
      .left-side__bottom-bar__group
        = link_to group_messages_path(group) do
          .left-side__bottom-bar__group__name
            = group.name
          .left-side__bottom-bar__group__message
            = group.show_last_message
