.notification-bar{
  height: 30px;
  width: 100vw;
  color: $MainWhiteColor;
  text-align: center;
  line-height: 30px;
}
.bc-cyan{
  background-color: $MainCyanColor;
}
.bc-red{
  background-color: #e74c3c;
}
