body{
    height: 100vh;
    width: 100vw;

    .notification-bar{
      background-color: #38AEF0;
      height: 30px;
      width: 100vw;
    }

    .left-side{
        height: 100vh;
        width: 300px;
        float: left;
        &__top-bar{
            background-color: #253141;
            height: 15vh;
            padding: 0 20px;
        }
        &__bottom-bar{
            background-color: #2f3e51;
            height: 85vh;
            padding: 0 20px;
        }
    }

    .right-main{
        width: calc(100vw - 300px);
        height: 100vh;
        float: left;
        &__header-bar{
            border-color: #eeeeee;
            background-color: white;
            height: 15%;
            padding: 0 40px;
            &__group-name{
                color: #333333;
                font-size: 20px;
                padding: 35px 0 15px 0 ;

            }
        }
        &__chat-main{
            height: calc(100vh - 15% - 90px);
            padding: 0 40px;
            background-color: #AAAAAA;
        }
        &__footer-bar{
          background-color: #B8C3C7;
          height: 90px;
          padding: 0 40px;
        }
    }
}
